@media (max-width: 1124px) {
    .div_section2 {
        display: flex;
        justify-content: flex-start;
    }


    .figure_none {
        display: none;
    }

    .div_section3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img_div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}